<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>http</mat-icon>
  </button>
  <span>Crud</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="warn" (click)="openDialog()" >Add product</button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<full-calendar [options]="calendarOptions"></full-calendar>